body {
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: px;
    margin-left: 10px;
    border: 3px double blue;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(81, 0, 255)
  }
  
  /* Class */
  .center {
    text-align: center;
  }
 
  .fonte-azul {
    color: blue;
  }

  .fonte-verde {
    color: greenyellow;
  }
  
  /* Id */
  #para {
    font-family: verdana;
    font-size: 20px;
  }
  
  #para2 {
    font-family: verdana;
    font-size: 20px;
  }

  #img {
    width: 60px;
    height: 80px;
  }