body {
    background-color: rgb(0, 0, 0);
  }
  
  h1 {
    color: rgb(255, 255, 255);
  }
  
  .fonte-azul {
    color: blue;
  }

  .fonte-verde {
    color: greenyellow;
  }
  
  #para {
    font-family: verdana;
    font-size: 20px;
  }
  
  #para2 {
    font-family: verdana;
    font-size: 20px;
  }

  .center {
    text-align: center;
  }

  #img {
    width: 60px;
    height: 80px;
  }